@import "../../styles/colors";

.btn {
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: 200ms ease;

  display: flex;
  align-items: center;
  gap: 0.5em;
}

.flex-reverse {
  flex-direction: row-reverse;
}
