@import "../../styles/colors";

.inputField {
  all: unset;
  display: grid;
  gap: 0.2em;

  label {
    font-weight: 700;
  }

  input {
    border: 1px solid $border-2;
    outline: 1px solid transparent;
    outline-offset: -2px;
    border-radius: 4px;
    padding: 0.75em 0.5em;

    &:focus {
      outline-color: $cta;
      border-color: $cta;
    }
  }
}
