$cta: #31aea5;
$cta-hover: #0a968d;

$border-1: #d8e5f1;
$border-2: #97a8b7;
$border-3: #ffffff;
$border-4: #777777;

$bg-1: #e7eef2;
$bg-2: #ffffff;
$bg-3: #fffdf9;

$bg-hover-1: #e7eef2;

$text-1: #000000;
$text-2: #ffffff;
$text-3: #7b8387;
$text-4: #777777;

$shadow: #0000002a;

$test: brown;
