@import "colors";

#root {
  height: 100vh;
}

main {
  display: grid;
  place-items: center;
  height: calc(100% - 83px);

  .container {
    display: grid;
    gap: 1.5em;
    background: $bg-2;
    box-shadow: 2px 2px 10px $shadow;
    border-radius: 12px;
    padding: 2em 3em;

    h2 {
      font-size: 2rem;
      text-align: center;
      font-weight: 700;
    }

    form {
      display: flex;
      gap: 1em;
      flex-direction: column;
      align-items: center;
      width: clamp(200px, 25vw, 340px);

      fieldset {
        width: 100%;
      }

      .privacy-policy {
        text-align: center;
        font-size: 0.6em;

        a {
          color: $cta;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .alternative-signin {
      display: grid;
      gap: 0.5em;

      p {
        font-size: 0.8em;
        text-align: center;

        a {
          color: $cta;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .icons {
        justify-content: center;
        gap: 1em;

        a {
          border: 1px solid $border-4;
          border-radius: 50%;
          aspect-ratio: 1;
          font-size: 1.25rem;
          padding: 0.5em;
          background: transparent;
          color: $text-4;
          transition: 150ms ease;

          &:hover {
            color: $cta;
            border-color: $cta;
          }

          svg {
            width: 1em;
            aspect-ratio: 1;
          }
        }
      }
    }
  }

  .background {
    position: fixed;
    inset: auto 0 -0.5em 0;
    z-index: -1;

    img {
      width: 100%;
    }
  }
}
